.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}


header {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  /*background-color: #d9aa2c;*/
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.rule {
  padding: 10px;
  width: calc(50% - 50px);
  margin: 10px;
  display: block;
  float: left;
}


.rule-box-failed {
  border: 2px solid red;
  background-color: #f5bea8;
}

.rule-summary{
}

.rule-list{
}

.rule-list-item{
}

.rule-box-succeeded{
  border: 2px dotted green;
  background-color: white;
}